@import 'tailwindcss';

@theme {
  --color-darkBlue: #000073;
  --color-blue: #b7effe;
  --color-lightBlue: #ddf8ff;
  --color-orange: #f07610;
  --font-family: 'Newsreader', serif;
}

body {
  background: var(--color-lightBlue);
  color: var(--color-darkBlue);
}
