@import "tailwindcss";

@theme {
  --color-darkBlue: #000073;
  --color-blue: #B7EFFE;
  --color-lightBlue: #ddf8ff;
  --color-orange: #F07610;
}

body {
  background: var(--color-lightBlue);
  color: var(--color-darkBlue);
}